<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Title #}
        <title>Jean Dupon {% block title %}{% endblock %}</title>

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon/favicon-16x16.png')}}">
        <link rel="manifest" href="/site.webmanifest">

        {# Fonts Family Google #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">

        {# Css part of webpack encore #}
            {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {% endblock %}

            {# JS part of webpack encore #}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}

            {# Stylesheet Css #}
            {# <link rel="stylesheet" href="{{asset('assets/styles/app.css')}}"> #}
    </head>
    <body>
        {# Navbar #}
        {% include "layouts/navbar/navbar_visitor.html.twig" %}
        {# Content #}
        {% block main %}{% endblock %}

        {# Footer #}
    </body>
</html>