{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Le blog sur la santé{% endblock %}

{% block main %}
    <main>
        <header>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-5 order-md-1">
                        <img src="{{asset("images/visitor/hero/hero.png")}}" alt="Blog de Jean Dupont Ilustratuion d'un docteur" class="img-fluid">
                    </div>
                    <div class="col-md-7 order-md-0 text-center mt-5">
                        <h1 class="display-6 py-5 font-weight-bolder">Bienvenue sur mon blog</h1>
                        <p>Je m'appelle Jean Dupont.</p>
                        <p>Permettez-moi de vous faire découvrir les clés d'une vie saine et épanouissante.</p>
                        <a href="{{path('visitor.blog.index')}}" class="btn btn-primary btn-lg mt-5">Lire les articles</a>
                    </div>
                </div>
            </div>
        </header>

        <section id="about-me" class="my-5 bg-light py-5">
            <h1 class="text-center mb-5">Qui suis-je</h1>
            <div class="container">
                <div class="row d-flex justify-content-evenly">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{{asset("images/visitor/aboutMe/about_me.png")}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8 text-center d-flex flex-column justify-content-center align-items-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, at hic. Quaerat aspernatur voluptas distinctio. Earum nulla ea, officia corporis labore aperiam tenetur enim quod harum eius officiis porro in magni obcaecati ab sed? Illum fugiat, voluptas, excepturi soluta architecto illo corrupti qui suscipit necessitatibus quidem dicta dolorum nemo iste?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, at hic. Quaerat aspernatur voluptas distinctio. Earum nulla ea, officia corporis labore aperiam tenetur enim quod harum eius officiis porro in magni obcaecati ab sed? Illum fugiat, voluptas, excepturi soluta architecto illo corrupti qui suscipit necessitatibus quidem dicta dolorum nemo iste?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, at hic. Quaerat aspernatur voluptas distinctio. Earum nulla ea, officia corporis labore aperiam tenetur enim quod harum eius officiis porro in magni obcaecati ab sed? Illum fugiat, voluptas, excepturi soluta architecto illo corrupti qui suscipit necessitatibus quidem dicta dolorum nemo iste?</p>
                    </div>
                </div>
            </div>
        </section>

    {% if posts is not empty %}
        <section id="latest-posts" class="my-3 py-3">
            <h1 class="display-5 text-center my-3">Mes derniers articles</h1>

            <div class="container-fluid mt-5">
                <div class="d-flex flex-md-row flex-column justify-content-evenly">
                    {% for post in posts %}
                        <div class="card-group mx-0 mx-md-3 w-100">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{post.title}}</h5>
                                    <p class="card-text">{{post.content|striptags|u.truncate(50, '...')|raw}}</p>
                                    <p class="text-center"><a href="{{path('visitor.blog.post.show', {'id':post.id, 'slug':post.slug})}}" class="btn btn-sm btn-primary">Lire cet article</a></p>
                                    <p class="card-text"><small class="text-body-secondary">Publié {{post.updatedAt|ago}}</small></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

        <section class="my-3 py-5 bg-light text-center">
            <a href="{{path("visitor.contact.create")}}" class="btn btn-lg btn-primary">Contactez-moi</a>
        </section>
    </main>
{% endblock %}

